.PostsEvent{
    width: 1258px;
}

.PostsEvent-posts{
    display: flex;
    flex-direction: column;
}

.PostsEvent-welcome{
    display: flex;
    margin-top: 20px;
    justify-content: center;
    background: #eee;
}

.PostsEvent-img{
    object-fit: cover;
    width: 1000px;
    height: 300px;
    margin: 10px;
}

.PostsEvent-Topic{
    border-bottom: 2px solid #8BBCCC;
    margin: 15px 0;
}

.PostsEvent-span{
    font-size: 28px;
}

.PostsEvent-post{
    display: grid;
    grid-template-columns: repeat(4,300px);
    gap: 1em;
}